.login,
.image {
  min-height: 100vh;
}

.bg-image-2 {
  background-image: url('../../assets/straviatec/cycling.jpg');
  background-size: cover;
  background-position: center center;
}

.custom-button {
  background-color: #6366F1 !important;
  color: white !important;
}