p-messages {
    position: fixed; /* O puedes usar "position: absolute" según tus necesidades */
    top: 10%; /* Ajusta la posición vertical según sea necesario */
    right: 1%; /* Ajusta la posición horizontal según sea necesario */
    z-index: 9999;
  }