<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div *ngFor="let activity of activities">
                <div class="card mb-3">
                    <div class="row mb-2">
                        <div class="col-md-1 text-center">
                            <div class="circle-avatar mb-2">
                                <img src="{{ activity.userInfo.photoPath }}" alt="Avatar" class="rounded-circle"
                                    style="width: 50px; height: 50px; text-align: center;">
                            </div>
                        </div>
                        <div class="col-md-11 text-left">
                            <h2 style="margin-bottom: 0; color: #fa4a01;">{{ activity.userInfo.name }} {{ activity.userInfo.lastName1 }}
                            </h2>
                            <p style="margin-top: 0;">{{ 'Start date: ' + activity.date }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11 text-left">
                            <h2 style="margin-bottom: 0;">{{ activity.description }}</h2>
                        </div>
                    </div>

                    <div class="row mb-3" style="text-align: left">
                        <div class="col-md-1"></div>

                        <div class="col-md-2 text-left">
                            <p>Distance
                                <br>
                                <small>{{ activity.kilometers + ' km' }}</small>
                            </p>
                        </div>

                        <div class="col-md-2 text-left">
                            <p>Duration
                                <br>
                                <small>{{ activity.duration + ' mins'}}</small>
                            </p>
                        </div>

                        <div class="col-md-2 text-left">
                            <p>Activity Type
                                <br>
                                <small>{{ sharedService.getActivityType(activityTypes, activity.type) }}</small>
                            </p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="z-depth-1-half map-container">
                            <iframe id="mapFrame" [src]="sharedService.getSafeResourceUrl(activity.routePath)"
                                width="100%" height="450px"></iframe>
                        </div>
                    </div>

                    <div class="extension-panel">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header style="background-color: #F2F2F2;">
                                    <mat-panel-title>
                                        Comments
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <div class="row">
                                        <div class="col-md-1 text-right" style="margin-top: 1%;">
                                            <span style="margin-bottom: 0%;">
                                                <img src="{{ sportman.photoPath }}" alt="Avatar" class="rounded-circle"
                                                    style="width: 38px; height: 38px;">
                                            </span>
                                        </div>
                                        <div class="flex col-md-10 text-left" style="margin-top: 1%;">
                                            <textarea rows="1" cols="50" placeholder="Add a comment..." pInputTextarea
                                                [autoResize]="false" [(ngModel)]="value"></textarea>
                                            <button style="margin-left: 1%;" pButton pRipple icon="pi pi-send"
                                                class="p-button-secondary mr-2" (click)="seeMoreInfo(race)"></button>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>

                                <p-divider></p-divider>

                                <div style="margin-top: 1%;">
                                    <div class="row">
                                        <div class="col-md-1 text-right">
                                            <span>
                                                <img src="{{ sportman.photoPath }}" alt="Avatar" class="rounded-circle"
                                                    style="width: 30px; height: 30px;">
                                            </span>
                                        </div>
                                        <div class="col-md-10 text-left">
                                            <span style="color: #fa4a01;">
                                                {{ ' @' + sportman.username }}
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10 text-left">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                                id est laborum.
                                            </p>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>

                                <p-divider></p-divider>

                                <div style="margin-top: 1%;">
                                    <div class="row">
                                        <div class="col-md-1 text-right">
                                            <span>
                                                <img src="{{ sportman.photoPath }}" alt="Avatar" class="rounded-circle"
                                                    style="width: 30px; height: 30px;">
                                            </span>
                                        </div>
                                        <div class="col-md-10 text-left">
                                            <span style="color: #fa4a01;">
                                                {{ ' @' + sportman.username }}
                                            </span>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10 text-left">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                                id est laborum.
                                            </p>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>