<div class="col-md-12">
  <div class="card card-user">
    <h1 class="card-title">Add Activity</h1>

    <div class="card-body">
      <form>
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <input #description type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>Activity Date</label>
              <input #activityDate type="date" required class="form-control">
            </div>
          </div>

          <div class="col-md-6 pl-1">
            <div class="form-group">
              <label>Start Time</label>
              <input #startTime type="time" required class="form-control">
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>Duration (minutes)</label>
              <input #duration type="number" min="0" value="0" required class="form-control">
            </div>
          </div>

          <div class="col-md-6 pl-1">
            <div class="form-group">
              <label>Activity Type</label>
              <select #activityType name="activityType" required class="form-control shadow-sm px-4">
                <option *ngFor="let activityType of activityTypes" [value]="activityType.id">{{ activityType.type }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label>Kilometers</label>
              <input #kilometers type="number" min="0" value="0" required class="form-control">
            </div>
          </div>

          <div class="col-md-6 pl-1">
            <div class="form-group">
              <label>Route (.gpx)</label>
              <input #route type="file" accept=".gpx" class="form-control shadow-sm px-4" />
            </div>
          </div>
        </div>

        <div class="row" style="text-align: center;">
          <div class="update ml-auto mr-auto">
            <button type="button" style="width: 30%;"
              (click)="addActivity(description.value, activityDate.value, startTime.value, duration.value, activityType.value, kilometers.value, route.value)"
              class="btn btn-primary btn-round text-uppercase rounded-pill shadow-sm">Add Activity</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>