<div class="row">
    <div class="col-md-4">
        <div class="card card-user">
            <div class="card-body">
                <div class="author">
                    <div class="circle-avatar mb-2">
                        <img src="{{ getSportman().photoPath }}" alt="Avatar">
                    </div>
                    <h2 style="color: #6366F1">{{ getSportman().name}} {{ getSportman().lastName1}} {{
                        getSportman().lastName2 }}</h2>
                    <p>@{{ getSportman().username }}</p>
                    <p>{{ getNationality().nationality1 }}</p>
                    <p>{{ sharedService.formatDate2(getSportman().birthDate) }}</p>
                </div>
            </div>

            <div>
                <div class="row" style="text-align: center;">
                    <div class="col-4">
                        <p>{{ getSportmanMoreInfo().following }}
                            <br>
                            <small>Following</small>
                        </p>
                    </div>

                    <div class="col-4">
                        <p>{{ getSportmanMoreInfo().followers }}
                            <br>
                            <small>Followers</small>
                        </p>
                    </div>

                    <div class="col-4">
                        <p>{{ getSportmanMoreInfo().activities }}
                            <br>
                            <small>Activities</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card card-user">
            <div class="card-body">
                <form>
                    <div class="row mt-2 mb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Username</label>
                                <input disabled id="username" #username type="text" required class="form-control"
                                    value="{{ getSportman().username }}" placeholder="{{ getSportman().username }}">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Name</label>
                                <input #name type="text" required class="form-control" value="{{ getSportman().name }}"
                                    placeholder="{{ getSportman().name }}">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Last Name1</label>
                                <input #lastName1 type="text" required class="form-control"
                                    value="{{ getSportman().lastName1 }}" placeholder="{{ getSportman().lastName1 }}">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Last Name 2</label>
                                <input #lastName2 type="text" class="form-control" value="{{ getSportman().lastName2 }}"
                                    placeholder="{{ getSportman().lastName2 }}">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Nationality</label>
                                <select [(ngModel)]="getSportman().nationality" name="nationality" required
                                    class="form-control shadow-sm px-4">
                                    <option *ngFor="let nationality of getNationalities()" [value]="nationality.id">{{
                                        nationality.nationality1 }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Birthdate</label>
                                <input #birthDate type="date" placeholder="{{ getSportman().birthDate }}"
                                    value="{{ getSportman().birthDate }}" min="1950-01-01" max="2021-12-31" required
                                    class="form-control shadow-sm px-4">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Profile Picture</label>
                                <input #file type="file" accept='image/*' class="form-control shadow-sm px-4" />
                            </div>
                        </div>
                    </div>

                    <div class="row" style="text-align: center;">
                        <div class="update ml-auto mr-auto">
                            <button type="button" style="width: 30%;"
                                (click)="updateSportmanInfo(name.value, lastName1.value, lastName2.value, birthDate.value, file.value)"
                                class="btn btn-primary btn-round text-uppercase shadow-sm custom-button">Update
                                profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <mat-tab-group dynamicHeight mat-stretch-tabs="false">
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="tab-icon pi pi-book"></span>Activities
            </ng-template>
            <div class="col-md-12">
                <div class="card">
                    <div class="border-round border-1 surface-border p-4 surface-card mb-3">
                        <div class="flex mb-3">
                            <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                            <div>
                                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                                <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                                <p-skeleton height=".5rem"></p-skeleton>
                            </div>
                        </div>
                        <p-skeleton width="100%" height="150px"></p-skeleton>
                        <div class="flex justify-content-between mt-3">
                            <p-skeleton width="4rem" height="2rem"></p-skeleton>
                            <p-skeleton width="4rem" height="2rem"></p-skeleton>
                        </div>
                    </div>

                    <div class="border-round border-1 surface-border p-4 surface-card">
                        <div class="flex mb-3">
                            <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                            <div>
                                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                                <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                                <p-skeleton height=".5rem"></p-skeleton>
                            </div>
                        </div>
                        <p-skeleton width="100%" height="150px"></p-skeleton>
                        <div class="flex justify-content-between mt-3">
                            <p-skeleton width="4rem" height="2rem"></p-skeleton>
                            <p-skeleton width="4rem" height="2rem"></p-skeleton>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="tab-icon pi pi-stopwatch"></span>Challenges
            </ng-template>
            <div class="col-md-12">
                <div class="card">
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="tab-icon pi pi-flag"></span>Races
            </ng-template>
            <div class="col-md-12">
                <div class="card">
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>