.author {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-avatar {
    width: 97px;
    height: 97px;
    border-radius: 50%;
    overflow: hidden;
}

.circle-avatar img {
    width: 100%;
    height: auto;
}

.tab-icon {
    margin-right: 6px;
}

.circle-avatar {
    position: relative;
}

.circle-avatar img {
    border-radius: 50%;
    transition: filter 0.3s ease;
}

.circle-avatar:hover img {
    filter: brightness(80%);
}

/* Opcional: Estilo adicional para el sombreado */
.circle-avatar:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}