<div class="row">
    <div class="col-md-4">
        <div class="card card-user">
            <div class="card-body">
                <div class="author">
                    <div class="circle-avatar mb-2" (mouseover)="addShadow()" (mouseout)="removeShadow()">
                        <img src="{{ currentImage }}" alt="Avatar" (click)="openFileInput()" #avatarImage>
                        <input type="file" accept="image/*" style="display: none" #fileInput
                            (change)="handleImageSelected($event)">
                    </div>
                    <h2 style="color: #6366F1">{{ getSportman().name}} {{ getSportman().lastName1}} {{
                        getSportman().lastName2 }}</h2>
                    <p>@{{ getSportman().username }}</p>
                    <p>{{ getNationality().nationality1 }}</p>
                    <p>{{ sharedService.formatDate2(getSportman().birthDate) }}</p>
                </div>
            </div>

            <div>
                <div class="row" style="text-align: center;">
                    <div class="col-4">
                        <p>{{ getSportmanMoreInfo().following }}
                            <br>
                            <small>Following</small>
                        </p>
                    </div>

                    <div class="col-4">
                        <p>{{ getSportmanMoreInfo().followers }}
                            <br>
                            <small>Followers</small>
                        </p>
                    </div>

                    <div class="col-4">
                        <p>{{ getSportmanMoreInfo().activities }}
                            <br>
                            <small>Activities</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card card-user">
            <div class="card-body">
                <form>
                    <div class="row mt-2 mb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Username</label>
                                <input disabled id="username" #username type="text" required class="form-control"
                                    value="{{ getSportman().username }}">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Name</label>
                                <input #name type="text" required class="form-control" value="{{ getSportman().name }}">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Last Name1</label>
                                <input #lastName1 type="text" required class="form-control"
                                    value="{{ getSportman().lastName1 }}">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Last Name 2</label>
                                <input #lastName2 type="text" class="form-control"
                                    value="{{ getSportman().lastName2 }}">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Nationality</label>
                                <select [(ngModel)]="getSportman().nationality" name="nationality" required
                                    class="form-control shadow-sm px-4">
                                    <option *ngFor="let nationality of getNationalities()" [value]="nationality.id">{{
                                        nationality.nationality1 }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Birthdate</label>
                                <input #birthDate type="date" value="{{ getSportman().birthDate }}" min="1950-01-01"
                                    max="2021-12-31" required class="form-control shadow-sm px-4">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Profile Picture</label>
                                <input #fileInput type="file" accept="image/*" class="form-control shadow-sm px-4"
                                    (change)="handleImageSelected($event)">
                            </div>
                        </div>
                    </div>

                    <p-toast position="top-center" key="tc"></p-toast>
                    <div class="row" style="text-align: center;">
                        <div class="update ml-auto mr-auto">
                            <button type="button" style="width: 30%;"
                                (click)="updateSportmanInfo(name.value, lastName1.value, lastName2.value, birthDate.value)"
                                class="btn btn-primary btn-round text-uppercase shadow-sm custom-button">Update
                                profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <mat-tab-group dynamicHeight mat-stretch-tabs="false">
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="tab-icon pi pi-book"></span>Activities
            </ng-template>
            <div class="col-md-12">
                <div class="card">
                    <div class="border-round border-1 surface-border p-4 surface-card mb-3">
                        <div class="flex mb-3">
                            <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                            <div>
                                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                                <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                                <p-skeleton height=".5rem"></p-skeleton>
                            </div>
                        </div>
                        <p-skeleton width="100%" height="150px"></p-skeleton>
                        <div class="flex justify-content-between mt-3">
                            <p-skeleton width="4rem" height="2rem"></p-skeleton>
                            <p-skeleton width="4rem" height="2rem"></p-skeleton>
                        </div>
                    </div>

                    <div class="border-round border-1 surface-border p-4 surface-card">
                        <div class="flex mb-3">
                            <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                            <div>
                                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                                <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                                <p-skeleton height=".5rem"></p-skeleton>
                            </div>
                        </div>
                        <p-skeleton width="100%" height="150px"></p-skeleton>
                        <div class="flex justify-content-between mt-3">
                            <p-skeleton width="4rem" height="2rem"></p-skeleton>
                            <p-skeleton width="4rem" height="2rem"></p-skeleton>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="tab-icon pi pi-stopwatch"></span>Challenges
            </ng-template>
            <div class="col-md-12">
                <div class="card">
                    <p-dataView #dv [value]="myChallenges" [paginator]="true" [rows]="12" filterBy="name"
                        [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                        <ng-template pTemplate="header">
                            <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                                <span class="p-input-icon-left col-md-8">
                                    <i class="pi pi-search"></i>
                                    <input style="width: 100%;" type="search" pInputText placeholder="Search challenge"
                                        (input)="onFilter(dv, $event)">
                                </span>
                                <p-dropdown [options]="sortOptions" placeholder="Sort by name"
                                    (onChange)="onSortChange($event)"></p-dropdown>
                                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                            </div>
                        </ng-template>

                        <ng-template let-challenge pTemplate="listItem">
                            <div class="col-12">
                                <div class="flex flex-column md:flex-row align-items-center p-3 pb-1 w-full"
                                    *ngIf="isUserParticipatingOnChallenge(challenge.name)">
                                    <img [src]="'../../../../assets/straviatec/ChallengeDefaultImage.png'"
                                        [alt]="challenge.name" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5" />
                                    <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                                        <div class="text-2xl font-bold mb-3">{{ challenge.name }}</div>
                                        <div class="h6 mb-3">Complete {{ challenge.goal }} km</div>
                                        <div class="h6 mb-3">From {{ getDateOnFormat(challenge.startDate) }} to {{
                                            getDateOnFormat(challenge.endDate) }}</div>
                                        <div class="flex flex-wrap align-items-center mb-3">
                                            <p-chip label="{{ challenge.type }}" styleClass="m-1"></p-chip>
                                            <p-chip label="{{ challenge.deep ? 'Deep' : 'Height' }}"
                                                styleClass="m-1"></p-chip>
                                            <p-chip label="{{ challenge.private ? 'Private' : 'Public' }}"
                                                styleClass="m-1"></p-chip>
                                        </div>
                                        <div class="h6 mb-3" style="font-size: x-small">Created by {{ challenge.manager
                                            }}</div>
                                    </div>
                                    <div class="flex flex-column align-items-center col-md-2">
                                        <p-button class="mb-3" *ngIf="!isUserParticipatingOnChallenge(challenge.name)"
                                            label="Join Challenge"
                                            (onClick)="joinChallengeButtonOnClick(challenge.name)"></p-button>
                                        <p-button class="mb-3" styleClass="p-button-danger"
                                            *ngIf="isUserParticipatingOnChallenge(challenge.name)"
                                            label="Leave Challenge"
                                            (onClick)="leaveChallengeButtonOnClick(challenge.name)"></p-button>
                                    </div>
                                </div>
                                <div class="flex flex-column md:flex-row align-items-center p-3 w-full"
                                    *ngIf="!isUserParticipatingOnChallenge(challenge.name)">
                                    <img [src]="'../../../../assets/straviatec/ChallengeDefaultImage.png'"
                                        [alt]="challenge.name" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5" />
                                    <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                                        <div class="text-2xl font-bold mb-3">{{ challenge.name }}</div>
                                        <div class="h6 mb-3">Complete {{ challenge.goal }} km</div>
                                        <div class="h6 mb-3">From {{ getDateOnFormat(challenge.startDate) }} to {{
                                            getDateOnFormat(challenge.endDate) }}</div>
                                        <div class="flex flex-wrap align-items-center mb-3">
                                            <p-chip label="{{ challenge.type }}" styleClass="m-1"></p-chip>
                                            <p-chip label="{{ challenge.deep ? 'Deep' : 'Height' }}"
                                                styleClass="m-1"></p-chip>
                                            <p-chip label="{{ challenge.private ? 'Private' : 'Public' }}"
                                                styleClass="m-1"></p-chip>
                                        </div>
                                        <div class="h6 mb-3" style="font-size: x-small">Created by {{ challenge.manager
                                            }}</div>
                                    </div>
                                    <div class="flex flex-column align-items-center col-md-2">
                                        <p-button class="mb-3" *ngIf="!isUserParticipatingOnChallenge(challenge.name)"
                                            label="Join Challenge"
                                            (onClick)="joinChallengeButtonOnClick(challenge.name)"></p-button>
                                        <p-button class="mb-3" styleClass="p-button-danger"
                                            *ngIf="isUserParticipatingOnChallenge(challenge.name)"
                                            label="Leave Challenge"
                                            (onClick)="leaveChallengeButtonOnClick(challenge.name)"></p-button>
                                    </div>
                                </div>
                                <p-progressBar [style]="{'height' : '10.5px'}" [value]="challenge.progress"
                                    [showValue]="false"
                                    *ngIf="isUserParticipatingOnChallenge(challenge.name)"></p-progressBar>
                            </div>
                        </ng-template>

                        <ng-template let-challenge pTemplate="gridItem">
                            <div class="col-12 md:col-4">
                                <div class="card m-3 border-1 surface-border p-0">
                                    <div class="p-3">
                                        <div class="flex flex-column align-items-center text-center mb-3">
                                            <img [src]="'../../../../assets/straviatec/ChallengeDefaultImage.png'"
                                                [alt]="challenge.name" class="w-10 shadow-2 my-3 mx-0 mb-3" />
                                            <div class="text-2xl font-bold mb-3">{{challenge.name}}</div>
                                            <div class="h6 mb-3">Complete {{challenge.goal}} km</div>
                                            <div class="h6 mb-3">From {{ getDateOnFormat(challenge.startDate) }} to {{
                                                getDateOnFormat(challenge.endDate) }}</div>
                                            <div class="flex flex-wrap align-items-center mb-3">
                                                <p-chip label="{{ challenge.type }}" styleClass="m-1"></p-chip>
                                                <p-chip label="{{ challenge.deep ? 'Deep' : 'Height' }}"
                                                    styleClass="m-1"></p-chip>
                                                <p-chip label="{{ challenge.private ? 'Private' : 'Public' }}"
                                                    styleClass="m-1"></p-chip>
                                            </div>
                                            <p-button class="mb-3"
                                                *ngIf="!isUserParticipatingOnChallenge(challenge.name)"
                                                label="Join Challenge"
                                                (onClick)="joinChallengeButtonOnClick(challenge.name)"></p-button>
                                            <p-button class="mb-3" styleClass="p-button-danger"
                                                *ngIf="isUserParticipatingOnChallenge(challenge.name)"
                                                label="Leave Challenge"
                                                (onClick)="leaveChallengeButtonOnClick(challenge.name)"></p-button>
                                            <div class="h6 mb-1" style="font-size: x-small"
                                                *ngIf="isUserParticipatingOnChallenge(challenge.name)">Created by {{
                                                challenge.manager }}</div>
                                            <div class="h6 mb-3" style="font-size: x-small"
                                                *ngIf="!isUserParticipatingOnChallenge(challenge.name)">Created by {{
                                                challenge.manager }}</div>
                                        </div>
                                    </div>
                                    <p-progressBar [style]="{'height' : '10px'}" [value]="challenge.progress"
                                        [showValue]="false"
                                        *ngIf="isUserParticipatingOnChallenge(challenge.name)"></p-progressBar>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="tab-icon pi pi-flag"></span>Races
            </ng-template>
            <div class="col-md-12">
                <div class="card">
                    <p-toast key="tst"></p-toast>
                    <p-dataView #dv [value]="myRaces" [paginator]="true" [rows]="12" filterBy="name"
                        [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                        <ng-template pTemplate="header">
                            <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                                <span class="p-input-icon-left col-md-8">
                                    <i class="pi pi-search"></i>
                                    <input style="width: 100%;" type="search" pInputText placeholder="Search race"
                                        (input)="onFilter(dv, $event)">
                                </span>
                                <p-dropdown [options]="sortOptions" placeholder="Sort By Price"
                                    (onChange)="onSortChange($event)"></p-dropdown>
                                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                            </div>
                        </ng-template>

                        <ng-template let-race pTemplate="listItem">
                            <div class="col-12">
                                <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                                    <img [src]="'../../../../assets/straviatec/RaceDefaultImage.png'" [alt]="race.name"
                                        class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5" />
                                    <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                                        <div class="text-2xl font-bold mb-3">{{ race.name }}</div>
                                        <div class="h6 mb-3">On {{ getDateOnFormat(race.date) }}</div>
                                        <div class="h6 mb-3">${{ race.inscriptionPrice }}</div>
                                        <div class="flex flex-wrap align-items-center mb-3">
                                            <p-chip label="{{ race.type }}" styleClass="m-1"></p-chip>
                                            <p-chip label="{{ race.private ? 'Private' : 'Public' }}"
                                                styleClass="m-1"></p-chip>
                                        </div>
                                        <div class="flex flex-wrap align-items-center mb-2">
                                            <div *ngFor="let category of raceCategory"
                                                class="flex flex-wrap align-items-center mb-3">
                                                <p-tag class=" ml-1 mr-1 mt-1 mb-1"
                                                    *ngIf="race.name === category.raceName"
                                                    value="{{ category.category }}"></p-tag>
                                            </div>
                                        </div>
                                        <div class="h6 mb-3" style="font-size: x-small">Organized by {{ race.manager }}
                                        </div>
                                    </div>
                                    <div class="flex flex-column align-items-center col-md-2">
                                        <div class="flex flex-row align-items-center">
                                            <button pButton pRipple label="" icon="pi pi-info-circle"
                                                class="p-button-rounded p-button-text mr-1 mb-2"
                                                (click)="showRaceMoreInfoDialogButtonOnClick(race)"></button>
                                            <button pButton pRipple label="" icon="pi pi-map"
                                                class="p-button-rounded p-button-text ml-1 mb-2"
                                                (click)="showRaceRouteDialogButtonOnClick(race)"></button>
                                        </div>
                                        <p-button label="Leave Race" styleClass="p-button-danger"
                                            (onClick)="leaveRaceButtonOnClick(race.name)"></p-button>

                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template let-race pTemplate="gridItem">
                            <div class="col-12 md:col-4">
                                <div class="card m-3 border-1 surface-border">
                                    <div class="flex flex-column align-items-center text-center mb-3">
                                        <img [src]="'../../../../assets/straviatec/RaceDefaultImage.png'"
                                            [alt]="race.name" class="w-10 shadow-2 my-3 mx-0 mb-3" />
                                        <div class="text-2xl font-bold mb-3">{{ race.name }}</div>
                                        <div class="h6 mb-3">On {{ getDateOnFormat(race.date) }}</div>
                                        <div class="h6 mb-3">${{ race.inscriptionPrice }}</div>
                                        <div class="flex flex-wrap align-items-center mb-3">
                                            <p-chip label="{{ race.type }}" styleClass="m-1"></p-chip>
                                            <p-chip label="{{ race.private ? 'Private' : 'Public' }}"
                                                styleClass="m-1"></p-chip>
                                        </div>
                                        <div class="flex flex-wrap align-items-center mb-2">
                                            <div *ngFor="let category of raceCategory"
                                                class="flex flex-wrap align-items-center">
                                                <p-tag class="ml-1 mr-1 mt-1 mb-1"
                                                    *ngIf="race.name === category.raceName"
                                                    value="{{ category.category }}"></p-tag>
                                            </div>
                                        </div>
                                        <div class="flex flex-row align-items-center text-center">
                                            <button pButton pRipple class="mb-3" label="" icon="pi pi-info-circle"
                                                class="p-button-rounded p-button-text mr-2"
                                                (click)="showRaceMoreInfoDialogButtonOnClick(race)"></button>
                                            <p-button class="mb-3" label="Leave Race" styleClass="p-button-danger"
                                                (onClick)="leaveRaceButtonOnClick(race.name)"></p-button>
                                            <button pButton pRipple class="mb-3" label="" icon="pi pi-map"
                                                class="p-button-rounded p-button-text ml-2"
                                                (click)="showRaceRouteDialogButtonOnClick(race)"></button>
                                        </div>
                                        <div class="h6 mb-3" style="font-size: x-small">Organized by {{ race.manager }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>

                <p-dialog [(visible)]="raceRouteDialog" [style]="{width: '50%'}" header="Race Route" [modal]="true"
                    class="p-fluid">
                    <div class="z-depth-1-half map-container">
                        <div id="map" style="width: 100%; height: 450px;"></div>
                    </div>

                    <ng-template pTemplate="footer">
                        <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text"
                            (click)="hideRaceRouteDialogButtonOnClick()"></button>
                    </ng-template>
                </p-dialog>

                <p-dialog [(visible)]="raceMoreInfoDialog" [style]="{width: '50%'}" header="More Information"
                    [modal]="true" class="p-fluid">
                    <div class="mb-5">
                        <h3>Bank Accounts</h3>
                        <p-toast></p-toast>
                        <p-table [value]="raceBankAccount" dataKey="bankAccount" editMode="row"
                            [tableStyle]="{'min-width': '50rem'}">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:100%; text-align: center;">Bank Account</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-bankAccount let-editing="editing" let-ri="rowIndex">
                                <tr [pEditableRow]="bankAccount" *ngIf="race.name === bankAccount.raceName">
                                    <td style="text-align: center;">
                                        <i class="pi pi-dollar" style="font-size: 1rem"></i>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="bankAccount.bankAccount"
                                                    required>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ bankAccount.bankAccount }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                    <div>
                        <h3>Sponsors</h3>
                        <p-toast></p-toast>
                        <p-table [value]="sponsors" dataKey="tradeName" editMode="row"
                            [tableStyle]="{'min-width': '50rem'}">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:25%; text-align: center;">Logo</th>
                                    <th style="width:25%; text-align: center;">Trade Name</th>
                                    <th style="width:25%; text-align: center;">Legal Representant</th>
                                    <th style="width:25%; text-align: center;">Phone</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-sponsor let-editing="editing" let-ri="rowIndex">
                                <tr [pEditableRow]="sponsor" *ngIf="isSponsorOfRace(sponsor.tradeName, race.name)">
                                    <td style="width:25%; min-width:10rem; text-align: center;"><span
                                            class="p-column-title">Image</span>
                                        <img [src]="sponsor.logoPath" [alt]="logo" width="100" class="shadow-4" />
                                    </td>
                                    <td style="text-align: center;">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="sponsor.tradeName" required>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ sponsor.tradeName }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="text-align: center;">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="sponsor.legalRepresentant"
                                                    required>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ sponsor.legalRepresentant }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="text-align: center;">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="sponsor.phone">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ sponsor.phone }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                    <ng-template pTemplate="footer">
                        <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text"
                            (click)="hideRaceMoreInfoDialogButtonOnClick()"></button>
                    </ng-template>
                </p-dialog>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>