.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('../../assets/straviatec/running.jpg');
    background-size: cover;
    background-position: center center;
}

.custom-button {
    background-color: #6366F1 !important;
    color: white !important;
}