<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast position="top-center" key="tc"></p-toast>
            <h1>Races</h1>
            <p-table #dt [value]="races" responsiveLayout="scroll" [rows]="5"
                [globalFilterFields]="['name', 'date', 'inscriptionPrice']" [paginator]="true"
                [rowsPerPageOptions]="[5,10,20]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedRaces" selectionMode="multiple" [rowHover]="true" dataKey="name">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left" style="width: 100%;">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full" />
                        </span>
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success ml-2"
                            style="min-width: 8%;" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger ml-2"
                            style="min-width: 8%;" (click)="deleteSelectedRaces()"
                            [disabled]="!selectedRaces || !selectedRaces.length"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name" style="text-align: center;">Name <p-sortIcon
                                field="name"></p-sortIcon></th>
                        <th pSortableColumn="type" style="text-align: center;">Type <p-sortIcon
                                field="type"></p-sortIcon></th>
                        <th pSortableColumn="categories" style="text-align: center;">Categories <p-sortIcon
                                field="categories"></p-sortIcon></th>
                        <th pSortableColumn="route" style="text-align: center;">Route</th>
                        <th pSortableColumn="bankAccount" style="text-align: center;">BA</th>
                        <th pSortableColumn="date" style="text-align: center;">Date <p-sortIcon
                                field="date"></p-sortIcon></th>
                        <th pSortableColumn="inscriptionPrice" style="text-align: center;">Price <p-sortIcon
                                field="inscriptionPrice"></p-sortIcon></th>
                        <th pSortableColumn="private" style="text-align: center;">Privacy <p-sortIcon
                                field="private"></p-sortIcon></th>
                        <th pSortableColumn="action" style="text-align: center;">Action</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-race>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="race"></p-tableCheckbox>
                        </td>
                        <td style="width:13%; min-width:10rem; text-align: center;"><span
                                class="p-column-title">Name</span>
                            {{ race.name }}
                        </td>
                        <td style="width:11%; min-width:9rem; text-align: center;">
                            <span class="p-column-title">Type</span>
                            {{ sharedService.getActivityType(activityTypes, race.type) }}
                        </td>
                        <td style="width:11%; min-width:9rem; text-align: center;">
                            <span class="p-column-title">Categories</span>
                            {{ setCategories(race.name) }}
                        </td>
                        <td style="width:9%; min-width:4rem; text-align: center;">
                            <button pButton pRipple label="" icon="pi pi-map"
                                class="p-button-rounded p-button-secondary" (click)="seeRoute(race)"></button>
                        </td>
                        <td style="width:9%; min-width:4rem; text-align: center;">
                            <button pButton pRipple label="" icon="pi pi-dollar"
                                class="p-button-rounded p-button-secondary" (click)="seeBankAccounts(race)"></button>
                        </td>
                        <td style="width:13%; min-width:13rem; text-align: center;">
                            <span class="p-column-title">Date</span>
                            {{ sharedService.formatDate3(race.date) }}
                        </td>
                        <td style="width:11%; min-width:9rem; text-align: center;">
                            <span class="p-column-title">Price</span>
                            {{ race.inscriptionPrice + ' $'}}
                        </td>
                        <td style="width:11%; min-width:9rem; text-align: center;">
                            <span class="p-column-title">Privacy</span>
                            {{ race.private ? 'Private' : 'Public' }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-info"
                                    class="p-button-rounded p-button-secondary mr-2"
                                    (click)="seeMoreInfo(race)"></button>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-primary mr-2" (click)="editRace(race)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                    (click)="deleteRace(race)"></button>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="raceDialog" [style]="{width: '50%'}" header="Race Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content" style="gap: 10px;">
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="name">Name</label>
                        <input type="text" pInputText id="name" disabled="{{ !isNewRace }}" [(ngModel)]="race.name"
                            class="form-control shadow-sm px-4" />
                    </div>
                    <div class="field col">
                        <label for="type">Type</label>
                        <select [(ngModel)]="selectedActivityType" name="activityType" required
                            class="form-control shadow-sm px-4">
                            <option *ngFor="let activityType of activityTypes" [value]="activityType.id">{{
                                activityType.type }}</option>
                        </select>
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label>Route (.gpx)</label>
                        <input type="file" accept=".gpx" class="form-control shadow-sm px-4"
                            (change)="onFileSelected($event)">
                    </div>
                    <div class="field col">
                        <label for="startDate">Date</label>
                        <input type="datetime-local" [(ngModel)]="race.date" id="date" placeholder="{{ race.date }}"
                            required class="form-control shadow-sm px-4">
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="inscriptionPrice">Inscription Price ($)</label>
                        <input type="number" min="0" pInputText id="inscriptionPrice"
                            [(ngModel)]="race.inscriptionPrice" required class="form-control shadow-sm px-4" />
                    </div>
                    <div class="field col">
                        <label for="privacy">Privacy</label>
                        <select [(ngModel)]="selectedPrivacy" name="privacy" required
                            class="form-control shadow-sm px-4">
                            <option value="true">Private</option>
                            <option value="false">Public</option>
                        </select>
                    </div>
                </div>

                <h3 style="margin-bottom: 0%;">Categories</h3>
                <p-table #dt2 [value]="categories" responsiveLayout="scroll" [rows]="5"
                    [globalFilterFields]="['category1', 'minimumAge', 'maximumAge']" [paginator]="false"
                    [rowsPerPageOptions]="[5,10,20]" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [(selection)]="selectedCategories" selectionMode="multiple" [rowHover]="true" dataKey="id">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <span class="block mt-2 md:mt-0 p-input-icon-left" style="width: 100%;">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt2, $event)"
                                    placeholder="Search..." class="w-full" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="category1" style="text-align: center;">Category <p-sortIcon
                                    field="category1"></p-sortIcon></th>
                            <th pSortableColumn="minimumAge" style="text-align: center;">Minimum age <p-sortIcon
                                    field="minimumAge"></p-sortIcon></th>
                            <th pSortableColumn="maximumAge" style="text-align: center;">Maximum age <p-sortIcon
                                    field="maximumAge"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-category>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="category"></p-tableCheckbox>
                            </td>
                            <td style="width:33%; min-width:10rem; text-align: center;">
                                <span class="p-column-title">Category</span>
                                {{ category.category1 }}
                            </td>
                            <td style="width:33%; min-width:10rem; text-align: center;">
                                <span class="p-column-title">Minimum age</span>
                                {{ category.minimumAge }}
                            </td>
                            <td style="width:33%; min-width:10rem; text-align: center;">
                                <span class="p-column-title">Maximum age</span>
                                {{ category.maximumAge }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <div *ngIf="selectedPrivacy == 'true' || selectedPrivacy == true">
                    <h3 style="margin-top: 3%; margin-bottom: 0%;">Groups</h3>
                    <p-table #dt3 [value]="groups" responsiveLayout="scroll" [rows]="5" [globalFilterFields]="['name']"
                        [paginator]="true" [rowsPerPageOptions]="[5,10,20]" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [(selection)]="selectedGroups" selectionMode="multiple" [rowHover]="true" dataKey="name">
                        <ng-template pTemplate="caption">
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                <span class="block mt-2 md:mt-0 p-input-icon-left" style="width: 100%;">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="onGlobalFilter(dt3, $event)"
                                        placeholder="Search..." class="w-full" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="name" style="text-align: center;">Group Name <p-sortIcon
                                        field="name"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-group>
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="group"></p-tableCheckbox>
                                </td>
                                <td style="width:100%; min-width:10rem; text-align: center;">
                                    <span class="p-column-title">Group Name</span>
                                    <span class="pi pi-users"></span>
                                    {{ group.name }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveRace()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="raceRouteDialog" [style]="{width: '50%'}" header="Race Route" [modal]="true"
            class="p-fluid">
            <div class="z-depth-1-half map-container">
                <div id="map" style="width: 100%; height: 450px;"></div>
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text"
                    (click)="hideRaceRouteDialog()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="raceBankAccountDialog" [style]="{width: '50%'}" header="Bank Accounts / Bills"
            [modal]="true" class="p-fluid">
            <h3 style="margin-bottom: 0%;">Bank Accounts</h3>
            <p-table #dt4 [value]="bankAccounts" responsiveLayout="scroll" [rows]="5"
                [globalFilterFields]="['bankAccount1']" [paginator]="false" [rowsPerPageOptions]="[5,10,20]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedBankAccounts" selectionMode="multiple" [rowHover]="true" dataKey="bankAccount1">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left" style="width: 100%;">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt4, $event)" placeholder="Search..."
                                class="w-full" />
                        </span>
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success ml-2"
                            style="width: 15%;" (click)="openNewBankAccount()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger ml-2"
                            style="width: 15%;" (click)="deleteSelectedBankAccounts()"
                            [disabled]="!selectedBankAccounts || !selectedBankAccounts.length"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="bankAccount" style="text-align: center;">Bank Account <p-sortIcon
                                field="bankAccount"></p-sortIcon></th>
                        <th pSortableColumn="action" style="text-align: center;">Action</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-bankAccount>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="bankAccount"></p-tableCheckbox>
                        </td>
                        <td style="width:78%; min-width:10rem; text-align: center;">
                            <span class="p-column-title">Bank Account</span>
                            <span class="pi pi-dollar"></span>
                            {{ bankAccount.bankAccount1 }}
                        </td>
                        <td style="width:22%; min-width:10rem; text-align: center;">
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                (click)="deleteBankAccount(bankAccount)"></button>
                        </td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>

            <h3 style="margin-top: 3%; margin-bottom: 0%;">Bills</h3>
            <p-table #dt5 [value]="bills" responsiveLayout="scroll" [rows]="5"
                [globalFilterFields]="['username', 'categoryId']" [paginator]="true" [rowsPerPageOptions]="[5,10,20]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedBills" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left" style="width: 100%;">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt5, $event)" placeholder="Search..."
                                class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="photo" style="text-align: center;">Photo</th>
                        <th pSortableColumn="username" style="text-align: center;">User<p-sortIcon
                                field="username"></p-sortIcon></th>
                        <th pSortableColumn="categoryId" style="text-align: center;">Category<p-sortIcon
                                field="categoryId"></p-sortIcon></th>
                        <th pSortableColumn="action" style="text-align: center;">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-bill>
                    <tr>
                        <td style="width:25%; min-width:10rem; text-align: center;">
                            <p-image src="{{ bill.photoPath }}" alt="Image" width="150" [preview]="true"></p-image>
                        </td>
                        <td style="width:25%; min-width:10rem; text-align: center;">
                            <span class="p-column-title">User</span>
                            {{ '@' + bill.username }}
                        </td>
                        <td style="width:25%; min-width:10rem; text-align: center;">
                            <span class="p-column-title">Category</span>
                            {{ sharedService.getCategory(categories, bill.categoryId) }}
                        </td>
                        <td style="width:25%; min-width:10rem; text-align: center;">
                            <p-button class="mb-3" *ngIf="bill.accepted" [disabled]="bill.accepted" label="Accepted"
                                (onClick)="joinRaceButtonOnClick(bill.id)"></p-button>

                            <p-button class="mb-3" *ngIf="!bill.accepted" [disabled]="bill.accepted" label="Accept"
                                (onClick)="joinRaceButtonOnClick(bill.id)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text"
                    (click)="hideRaceBankAccountDialog()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="raceIBANAccountDialog" [style]="{width: '40%'}" header="Add Bank Account" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content" style="gap: 10px;">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        CR
                    </span>
                    <input pInputText placeholder="IBAN Account" [(ngModel)]="bankAccount.bankAccount1" />
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideRaceIBANAccountDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveRaceIBANAccount()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="raceMoreInfoDialog" [style]="{width: '50%'}" header="Sponsors" [modal]="true"
            class="p-fluid">
            <p-table #dt6 [value]="sponsors" responsiveLayout="scroll" [rows]="5"
                [globalFilterFields]="['tradeName', 'legalRepresentant', 'phone']" [paginator]="true"
                [rowsPerPageOptions]="[5,10,20]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedSponsors" selectionMode="multiple" [rowHover]="true" dataKey="tradeName">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left" style="width: 100%;">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt6, $event)" placeholder="Search..."
                                class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="logo" style="text-align: center;">Logo</th>
                        <th pSortableColumn="tradeName" style="text-align: center;">Trade Name <p-sortIcon
                                field="tradeName"></p-sortIcon></th>
                        <th pSortableColumn="legalRepresentant" style="text-align: center;">Legal Representant
                            <p-sortIcon field="legalRepresentant"></p-sortIcon>
                        </th>
                        <th pSortableColumn="phone" style="text-align: center;">Phone <p-sortIcon
                                field="phone"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-sponsor>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="sponsor"></p-tableCheckbox>
                        </td>
                        <td style="width:26%; min-width:10rem; text-align: center;"><span
                                class="p-column-title">Logo</span>
                            <img [src]="sponsor.logoPath" [alt]="logo" width="100" class="shadow-4" />
                        </td>
                        <td style="width:26%; min-width:10rem; text-align: center;">
                            <span class="p-column-title">Trade Name</span>
                            {{ sponsor.tradeName }}
                        </td>
                        <td style="width:26%; min-width:10rem; text-align: center;">
                            <span class="p-column-title">Legal Representant</span>
                            {{ sponsor.legalRepresentant }}
                        </td>
                        <td style="width:26%; min-width:10rem; text-align: center;">
                            <span class="p-column-title">Phone</span>
                            {{ sponsor.phone }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideRaceMoreInfoDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveMoreInfo()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteRaceDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="race">Are you sure you want to delete <b>{{ race.name }}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteRaceDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteRacesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected races?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteRacesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteBankAccountDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="race">Are you sure you want to delete bank account: <b>{{ bankAccount.bankAccount1
                        }}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteBankAccountDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteBankAccount()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteBankAccountsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected bank accounts?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteBankAccountsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelectedBankAccounts()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>